// *************************************
//
// # jigsass-objects-media
// -> A flexbox enabled version of
//    @Stubbornella's media object
//
// *************************************

@charset 'UTF-8';

// -------------------------------------
// Dependencies
// -------------------------------------

@if (not mixin-exists(jigsass-object)) {
  @error '`jigsass-objects-media` has a dependency on `jigsass-tools-selectors`.
    Please import it.';
}





// -------------------------------------
// Introduction
// -------------------------------------

// stylelint-disable
/* ---
section: Media object
title: Introduction
order: -10
---

A flexbox enabled version of @Stubbornella's media object

**[GitHub page](https://txhawks.github.io/jigsass-objects-media)**

The [media object](http://bit.ly/Ku2rqE), introduced by Nichole Sullivan, is a
layout abstraction for placing fixed width content and fluid content side by side.

JigSass Media is a flexbox enabled implementation of the original, with optional fallback
(See [Configuration](#configutation)).

## Installation

Using npm:

```sh
npm i -S jigsass-objects-media
```

## Usage
First, import JigSass Objects Media to your main stylesheet:

```scss
@import 'path/to/jigsass-objects-media/scss/index';
```

And optionally [reconfigure](#configuration) the defaults to your liking.

Like all other JigSass modules, JigSass Button does not automatically generate any CSS when imported.
In order to use its classes, you would have to first explicitly indicate your intention to use
them by enabling their generation in the associated [configurations map](#css-output), leaving
us only with CSS we need:

All JigSass Media classes are responsive-enabled, using
[JigSass MQ](https://txhawks.github.io/jigsass-tools-mq/) and the breakpoints defined in the
[$jigsass-breakpoints](https://txhawks.github.io/jigsass-tools-mq/#variable-jigsass-breakpoints)
variable.

Based on enabled selectors in the [configuration map](#css-output), responsive modifiers are
generated according to the following logic:

```scss
.o-media[--modifier][-[-from-{breakpoint-name}][-until-{breakpoint-name}][-misc-{breakpoint-name}]]
```

So, assuming the `medium`, `large` and `landscape` breakpoints are defined in `$jigsass-breakpoints`
as `600px`, `1024px` and `(orientation: landscape)` respectively,

```scss
$jigsass-media-obj-conf: (
  no-breakpoint: (
    bottom: true,
  ),
  until-medium: (
    bottom: true,
  ),
  from-large-when-landscape: (
    bottom: true,
  ),
)
```

will generate the following classes:
  - `.o-media--bottom`, which is not limited to any media-query.
  - `.o-media--bottom--until-medium`, which will be in effect at
    `(max-width: 37.49em)` and will override styles in the default class
    until that point.
  - `.o-media-bottom--from-large-when-landscape`, which will go into effect at
    `(min-width: 64em) and (orientation: landscape)` and will override styles
    in the default class under these  conditions.


-----


At its simplest form, the media object is simply a fixed element next to a fluid element,
filling up available space:

```example:html
<div class='u-cf o-media'>
  <figure class='o-media__fig'>
    <div class='[ fpo fpo--b fpo--fig ]'></div>
  </figure>
  <div class='o-media__content fpo'>
    <p style='text-align: center'<strong>.o-media__content</strong></p>
  </div>
</div>
```

Like all JigSass object,  JigSass Media is responsive-enabled, and an instance
may be set to stack vertically by using responsive modifier classes on the container
(resize window to see object stacking and unstacking):

```example:html
<div class='u-cf [ o-media--from-small-until-medium o-media--from-large ]'>
  <figure class='o-media__fig'>
    <div class='[ fpo fpo--b fpo--fig ]'></div>
  </figure>
  <div class='o-media__content fpo'>
    <p style='text-align: center'>
      <strong>Media object only from small until medium and  from large on.</strong>
    </p>
  </div>
</div>
```

One of the media object's key features, is that it can be endlessly nested:

```example:html
<! -- First level -->
<div class='u-cf o-media'>
  <figure class='o-media__fig'>
    <div class='[ fpo fpo--b fpo--fig ]'></div>
  </figure>
  <div class='o-media__content fpo'>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>

    <! -- Second level -->
    <div class='u-cf o-media--from-medium'>
      <figure class='o-media__fig'><div class='[ fpo fpo--b fpo--fig ]'></div></figure>
      <div class='o-media__content fpo fpo--c'>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</span>

        <! -- Third level -->
        <div class='u-cf o-media--from-medium'>
          <figure class='o-media__fig'><div class='[ fpo fpo--b fpo--fig ]'></div></figure>
          <div class='o-media__content fpo'>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</span>

            <! -- fourth level -->
            <div class='u-cf o-media--from-large'>
              <figure class='o-media__fig'><div class='[ fpo fpo--b fpo--fig ]'></div></figure>
              <div class='o-media__content fpo fpo--c'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
            <div class='u-cf o-media--from-large o-media--rev--from-large'>
              <figure class='o-media__fig'><div class='[ fpo fpo--b fpo--fig ]'></div></figure>
              <div class='o-media__content fpo fpo--d'>
                <strong>Media objects can also be reversed</strong> Media Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
```

JigSass Media also offers vertical alignment modifiers ([middle](#middle-aligned),
[bottem](#bottom-aligned)) and a [reverse](#reversed) modifier.


**License:** MIT

*/
// stylelint-enable





// -------------------------------------
// Variables
// -------------------------------------

// stylelint-disable
/* ---
section: Media Object
title: CSS Outpout
order: -2
---
By default, JigSass Media does not generate any CSS output when imported into
a stylesheet. CSS output must be enabled on a per-selector basis, inside the
dedicated configuration map:


```scss
$jigsass-media-obj-config
```

**Type:** `Map`

Configuration map for enabling generation of
media object and modifier classes.


**Default:**
```scss
$jigsass-media-obj-conf: (
  no-breakpoint: (
    no-modifier: false,
    middle: false,
    bottom: false,
    rev: false,
  ),
);
```


**Example:**
```scss
$jigsass-media-obj-conf: (
  no-breakpoint: (
    no-modifier: true,  // Enables generation of the `.o-media`
                        // class outside of any media query.
    foo: true,          // Enables generation of the `.o-media--foo`
                        // modifier class outside of any media query.
  ),
  from-<bp-name>: (
    no-modifier: true,  // Enables generation of the `.o-media--from-<bp-name>`
                        // class inside a min-width media query
                        // defined ins `$jigsass-breakpoints.length`.
    foo: true,          // Enables generation of the `.o-media--foo--from-<bp-name>`
                        // class inside a min-width media query
                        // defined ins `$jigsass-breakpoints.length`.
  ),
  until-<bp-name>: (
    no-modifier: true,  // Enables generation of the `.o-media--until-<bp-name>`
                        // class inside a max-width media query
                        // defined ins `$jigsass-breakpoints.length`.
  foo: true,          // Enables generation of the `.o-media--foo--until-<bp-name>`
                        // class inside a max-width media query
                        // defined ins `$jigsass-breakpoints.length`.
  ),
  when-<bp-name>: (
    no-modifier: true,  // Enables generation of the `.o-media--when-<bp-name>`
                        // class inside a misc media query
                        // defined ins `$jigsass-breakpoints.features`.
    foo: true,          // Enables generation of the `.o-media--foo--when-<bp-name>`
                        // class inside a misc media query
                        // defined ins `$jigsass-breakpoints.features`.
  ),
  from-<bp-name>-until-<bp-name>: (...);
  from-<bp-name>-when-<bp-name>: (...);
  until-<bp-name>-when-<bp-name>: (...);
  from-<bp-name>-until-<bp-name>-when-<bp-name>: (...);
);
```
*/
// stylelint-enable

/// Configuration map for enabling generation of
/// media object and modifier classes.
/// ---
/// @example
///		$jigsass-media-obj-conf: (
///    no-breakpoint: (
///      no-modifier: true,  // Enables generation of the `.o-media`
///                          // class outside of any media query.
///      foo: true,          // Enables generation of the `.o-media--foo`
///                          // modifier class outside of any media query.
///    ),
///    from-<bp-name>: (
///      no-modifier: true,  // Enables generation of the `.o-media--from-<bp-name>`
///                          // class inside a min-width media query
///                          // defined ins `$jigsass-breakpoints.length`.
///      foo: true,          // Enables generation of the `.o-media--foo--from-<bp-name>`
///                          // class inside a min-width media query
///                          // defined ins `$jigsass-breakpoints.length`.
///    ),
///    until-<bp-name>: (
///      no-modifier: true,  // Enables generation of the `.o-media--until-<bp-name>`
///                          // class inside a max-width media query
///                          // defined ins `$jigsass-breakpoints.length`.
///     foo: true,          // Enables generation of the `.o-media--foo--until-<bp-name>`
///                          // class inside a max-width media query
///                          // defined ins `$jigsass-breakpoints.length`.
///    ),
///    when-<bp-name>: (
///      no-modifier: true,  // Enables generation of the `.o-media--when-<bp-name>`
///                          // class inside a misc media query
///                          // defined ins `$jigsass-breakpoints.features`.
///      foo: true,          // Enables generation of the `.o-media--foo--when-<bp-name>`
///                          // class inside a misc media query
///                          // defined ins `$jigsass-breakpoints.features`.
///    ),
///    from-<bp-name>-until-<bp-name>: (...);
///    from-<bp-name>-when-<bp-name>: (...);
///    until-<bp-name>-when-<bp-name>: (...);
///    from-<bp-name>-until-<bp-name>-when-<bp-name>: (...);
///  );
/// ---
/// @type {Map}
/// ---
$jigsass-media-obj-conf: (
  no-breakpoint: (
    no-modifier: false,
    middle: false,
    bottom: false,
    rev: false,
  ),
) !default;



// stylelint-disable
/* ---
section: Media Object
title: Configuration
order: -1
---
JigSass Media allows for some modification through tweaking configuration variable.
To override the default values, predefine them to your own needs _before_ importing
this file.


#### Flexbox support
```scss
$jigsass-media-flexbox
```
**Type:** `Boolean`

Determines if flexbox should be enabled, where relevant

**Default:** `true`


#### Flexbox Fallback
```scss
$jigsass-media-flexbox-fallback
```
**Type:** `Boolean` or `String`

Determines if flexbox fallback should be included and the qualifier class
to use if so (e.g, `.no-flexbox` when using Modernizr defaults)

Set to `false` to disable fallback altogether, and to a class-name
(sans the leading `.`) used as the qualifier class if fallback is
desirable.

**Default:** `'no-flexbox'`
*/
// stylelint-enable

/// Determines if flexbox should be enabled, where relevant
/// ---
/// @type {Boolean}
/// ---
$jigsass-media-flexbox: true !default;

/// Determines if flexbox fallback should be included and the qualifier class
/// to use if so (e.g, `.no-flexbox` when using Modernizr defaults)
///
/// Set to `false` to disable fallback altogether, and to a class-name
/// (sans the leading `.`) used as the qualifier class if fallback is
/// desirable.
/// ---
/// @type {Boolean | String}
/// ---
$jigsass-media-flexbox-fallback: 'no-flexbox' !default;


// Used internally to store doclets
$_doclet-store: () !default;





// -------------------------------------
// Functions
// -------------------------------------

//





// -------------------------------------
// Mixins
// -------------------------------------

//





// -------------------------------------
// Definitions
// -------------------------------------

@include jigsass-object(o-media, $jigsass-media-obj-conf) {
  // A flexbox enabled implementation of Nicole sullivan's
  // [media object](http://bit.ly/Ku2rqE) with optional fallback
  // ---
  // 1. Needs to be clearfixed (`u-cf` class in the HTML)
  // ---
  @include jigsass-classname() {
    @if ($jigsass-media-flexbox) {
      display: flex;

      > .o-media__content {
        flex: 1 1 auto;
      }

      @if ($jigsass-media-flexbox-fallback) {
        .#{$jigsass-media-flexbox-fallback} & {
          @include jigsass-util(u-cf);  // [1]

          display: block;

          > .o-media__fig {
            @include jigsass-bidi(float, start);
            display: block;

            img {
              vertical-align: top;
            }
          }

          > .o-media__content {
            display: table-cell;
            max-width: 100%;
            width: 100000px;
          }
        }
      }
    }
    @else {
      @include jigsass-util(u-cf);  // [1]

      display: block;

      > .o-media__fig {
        @include jigsass-bidi(float, start);
        display: block;

        img {
          vertical-align: top;
        }
      }

      > .o-media__content {
        display: table-cell;
        max-width: 100%;
        width: 100000px;
      }
    }

    $_doclet: $jigsass-obj-name + ($jigsass-obj-modifier or '');
    @if (not index($_doclet-store, $_doclet)) {
      $_doclet-store: append($_doclet-store, $_doclet) !global;
      // stylelint-disable
  /* ---
  section: Media Object
  title: Base
  order: 1
  ---
  A flexbox enabled implementation of Nicole sullivan's
  [media object](http://bit.ly/Ku2rqE) with optional fallback

  Used to create a container with a fixed-width element at one end, and a fluid
  width container next to it.

  ```example:html
  <div class='u-cf o-media'>
    <figure class='o-media__fig'>
      <div class='[ fpo fpo--b fpo--fig ]'></div>
    </figure>
    <div class='o-media__content fpo'>
      <p style='text-align: center'<strong>.o-media__content</strong></p>
    </div>
  </div>
  ```

  A media object may be set to stack vertically by using responsive modifier classes
  on the container (resize window to see object stacking and unstacking):

  ```example:html
  <div class='u-cf [ o-media--from-small-until-medium o-media--from-large ]'>
    <figure class='o-media__fig'>
      <div class='[ fpo fpo--b fpo--fig ]'></div>
    </figure>
    <div class='o-media__content fpo'>
      <p style='text-align: center'>
        <strong>Media object only from small until medium and  from large on.</strong>
      </p>
    </div>
  </div>
  ```


  #### include with:
  ```scss
  @include jigsass-media-obj([$modifier, $from, $until, $misc]);
  ```


  #### Related Mixins:
  [jigsass-media-obj](#media-obj-mixin): Generates a list abstraction or an abstraction's modifier,
  optionally limited to a specific breakpoint defined in
  [$jigsass-breakpoints](https://txhawks.github.io/jigsass-tools-mq/#variable-jigsass-breakpoints)).


  #### CSS Output

  ```scss
  // When flexbox is enabled
  .o-media {
    display: flex;
  }
  .o-media > .o-media__content {
    flex: 1 1 auto;
  }


  // When flexbox fallback is enabled
  .u-clearfix { ... }
  .#{$jigsass-media-flexbox-fallback} .o-media {
    display: block;
  }

  .#{$jigsass-media-flexbox-fallback} .o-media > .o-media__fig {
    @include jigsass-bidi(float, start);
    display: block;
  }

  .#{$jigsass-media-flexbox-fallback} .o-media > .o-media__fig img {
    vertical-align: top;
  }

  .#{$jigsass-media-flexbox-fallback} .o-media > .o-media__content {
    display: table-cell;
    max-width: 100%;
    width: 100000px;
  }


  // When flexbox is disabled
  .u-clearfix { ... }

  .o-media {
    display: block;
  }

  .o-media > .o-media__fig {
    @include jigsass-bidi(float, start);
    display: block;
  }

  .o-media > .o-media__fig img {
    vertical-align: top;
  }

  .o-media > .o-media__content {
    display: table-cell;
    max-width: 100%;
    width: 100000px;
  }
  ```
  */
      //stylelint-enable
    }
  }


  @include jigsass-classname($modifier: middle) {
    @if ($jigsass-media-flexbox) {
      align-items: center;

      @if ($jigsass-media-flexbox-fallback) {
        .#{$jigsass-media-flexbox-fallback} & {
          display: table;

          > .o-media__fig {
            display: inline-block;
            float: none;
          }

          > .o-media__fig,
          > .o-media-content {
            vertical-align: middle;
          }
        }
      }
    }
    @else {
      display: table;

      > .o-media__fig {
        display: inline-block;
        float: none;
      }

      > .o-media__fig,
      > .o-media-content {
        vertical-align: middle;
      }
    }

    $_doclet: $jigsass-obj-name + ($jigsass-obj-modifier or '');
    @if (not index($_doclet-store, $_doclet)) {
      $_doclet-store: append($_doclet-store, $_doclet) !global;

      // stylelint-disable

  /* ---
  section: Media Object
  title: Middle Aligned
  order: 1
  ---
  A media object with items aligned to the vertical middle.

  ```example:html
  <div class='u-cf [ o-media o-media--middle ]'>
    <figure class='o-media__fig'>
      <div class='[ fpo fpo--b fpo--fig ]'></div>
    </figure>
    <div class='o-media__content fpo'>
      <p style='text-align: center'<strong>.o-media__content</strong></p>
    </div>
  </div>
  ```

  Can also be applying responsively:

  ```example:html
  <div class='u-cf [ o-media o-media--middle--from-small-until-medium o-media--middle--from-large ]'>
    <figure class='o-media__fig'>
      <div class='[ fpo fpo--b fpo--fig ]'></div>
    </figure>
    <div class='o-media__content fpo'>
      <p style='text-align: center'>
        <strong>Middle aligned only from small until medium and  from large on.</strong>
      </p>
    </div>
  </div>
  ```


  #### include with:
  ```scss
  @include jigsass-media-obj(middle[, $from, $until, $misc]);
  ```


  #### Related Mixins:
  [jigsass-media-obj](#media-obj-mixin): Generates a list abstraction or an abstraction's modifier,
  optionally limited to a specific breakpoint defined in
  [$jigsass-breakpoints](https://txhawks.github.io/jigsass-tools-mq/#variable-jigsass-breakpoints)).


  #### CSS Output

  ```scss
  // When flexbox is enabled
  .o-media--middle { align-items: center; }

  // When flexbox fallback is enabled
  .#{$jigsass-media-flexbox-fallback} .o-media--middle { display: table; }

  .#{$jigsass-media-flexbox-fallback} .o-media--middle > .o-media__fig {
    display: inline-block;
    float: none;
  }
  .#{$jigsass-media-flexbox-fallback} .o-media--middle > .o-media__fig,
  .#{$jigsass-media-flexbox-fallback} .o-media--middle > .o-media__content {
    vertical-align: middle;
  }


  // When flexbox is disabled
  .o-media--middle { display: table; }

  .o-media--middle > .o-media__fig {
    display: inline-block;
    float: none;
  }
  .o-media--middle > .o-media__fig,
  .o-media--middle > .o-media__content {
    vertical-align: middle;
  }
  ```
  */
      //stylelint-enable
    }
  }

  @include jigsass-classname($modifier: bottom) {
    @if ($jigsass-media-flexbox) {
      align-items: flex-end;

      @if ($jigsass-media-flexbox-fallback) {
        .#{$jigsass-media-flexbox-fallback} & {
          display: table;

          > .o-media__fig {
            display: inline-block;
            float: none;
          }

          > .o-media__fig,
          > .o-media-content {
            vertical-align: bottom;
          }
        }
      }
    }
    @else {
      display: table;

      > .o-media__fig {
        display: inline-block;
        float: none;
      }

      > .o-media__fig,
      > .o-media-content {
        vertical-align: bottom;
      }
    }

    $_doclet: $jigsass-obj-name + ($jigsass-obj-modifier or '');
    @if (not index($_doclet-store, $_doclet)) {
      $_doclet-store: append($_doclet-store, $_doclet) !global;

      // stylelint-disable

  /* ---
  section: Media Object
  title: Bottom Aligned
  order: 2
  ---
  A media object with items aligned to the vertical bottom.

  ```example:html
  <div class='u-cf [ o-media o-media--bottom ]'>
    <figure class='o-media__fig'>
      <div class='[ fpo fpo--b fpo--fig ]'></div>
    </figure>
    <div class='o-media__content fpo'>
      <p style='text-align: center'<strong>.o-media__content</strong></p>
    </div>
  </div>
  ```

  Can also be applying responsively:

  ```example:html
  <div class='u-cf [ o-media o-media--bottom--from-small-until-medium o-media--bottom--from-large ]'>
    <figure class='o-media__fig'>
      <div class='[ fpo fpo--b fpo--fig ]'></div>
    </figure>
    <div class='o-media__content fpo'>
      <p style='text-align: center'>
        <strong>Bottom aligned only from small until medium and  from large on.</strong>
      </p>
    </div>
  </div>
  ```


  #### include with:
  ```scss
  @include jigsass-media-obj(bottom[, $from, $until, $misc]);
  ```


  #### Related Mixins:
  [jigsass-media-obj](#media-obj-mixin): Generates a list abstraction or an abstraction's modifier,
  optionally limited to a specific breakpoint defined in
  [$jigsass-breakpoints](https://txhawks.github.io/jigsass-tools-mq/#variable-jigsass-breakpoints)).


  #### CSS Output

  ```scss
  // When flexbox is enabled
  .o-media--bottom { align-items: flex-end; }

  // When flexbox fallback is enabled
  .#{$jigsass-media-flexbox-fallback} .o-media--bottom { display: table; }

  .#{$jigsass-media-flexbox-fallback} .o-media--bottom > .o-media__fig {
    display: inline-block;
    float: none;
  }
  .#{$jigsass-media-flexbox-fallback} .o-media--bottom > .o-media__fig,
  .#{$jigsass-media-flexbox-fallback} .o-media--bottom > .o-media__content {
    vertical-align: bottom;
  }


  // When flexbox is disabled
  .o-media--bottom { display: table; }

  .o-media--bottom > .o-media__fig {
    display: inline-block;
    float: none;
  }
  .o-media--bottom > .o-media__fig,
  .o-media--bottom > .o-media__content {
    vertical-align: bottom;
  }
  ```
  */
      //stylelint-enable
    }
  }


  // A reversed media object
  // ---
  // 1. Reverse the container's direction
  // 2. Restore direction of container's children
  // ---
  @include jigsass-classname($modifier: rev) {
    @if ($jigsass-media-flexbox) {
      flex-direction: row-reverse;

      @if ($jigsass-media-flexbox-fallback) {
        .#{$jigsass-media-flexbox-fallback} & {
          @if (not mixin-exists(jigsass-bidi)) {
            @error '`jigsass-objects-media` has a dependency on `jigsass-tools-bidi`.
            Please import it.';
          }

          @include jigsass-bidi(direction, ets);      // [1]

          > * {
            @include jigsass-bidi(direction, ste);    // [2]
          }
        }
      }

      @else {
        @if (not mixin-exists(jigsass-bidi)) {
          @error '`jigsass-objects-media` has a dependency on `jigsass-tools-bidi`.
          Please import it.';
        }

        @include jigsass-bidi(direction, ets);      // [1]

        > * {
          @include jigsass-bidi(direction, ste);    // [2]
        }
      }
    }
    $_doclet: $jigsass-obj-name + ($jigsass-obj-modifier or '');
    @if (not index($_doclet-store, $_doclet)) {
      $_doclet-store: append($_doclet-store, $_doclet) !global;

      // stylelint-disable

  /* ---
  section: Media Object
  title: Reversed
  order: 3
  ---
  A media object in which elements are displayed opposite of their position in
  the source order.

  ```example:html
  <div class='u-cf [ o-media o-media--rev ]'>
    <figure class='o-media__fig'>
      <div class='[ fpo fpo--b fpo--fig ]'></div>
    </figure>
    <div class='o-media__content fpo'>
      <p style='text-align: center'<strong>I am actually second in the source order</strong></p>
    </div>
  </div>
  ```

  Can also be applying responsively:

  ```example:html
  <div class='u-cf [ o-media o-media--rev--from-small-until-medium o-media--rev--from-large ]'>
    <figure class='o-media__fig'>
      <div class='[ fpo fpo--b fpo--fig ]'></div>
    </figure>
    <div class='o-media__content fpo'>
      <p style='text-align: center'>
        <strong>Reversed only from small until medium and  from large on.</strong><br />
        I am actually second in the dource order...
      </p>
    </div>
  </div>
  ```


  #### include with:
  ```scss
  @include jigsass-media-obj(rev[, $from, $until, $misc]);
  ```


  #### Related Mixins:
  [jigsass-media-obj](#media-obj-mixin): Generates a list abstraction or an abstraction's modifier,
  optionally limited to a specific breakpoint defined in
  [$jigsass-breakpoints](https://txhawks.github.io/jigsass-tools-mq/#variable-jigsass-breakpoints)).


  #### CSS Output

  ```scss
  // When flexbox is enabled
  .o-media--rev { flex-direction: row-reverse; }

  // When flexbox fallback is enabled
  .#{$jigsass-media-flexbox-fallback} .o-media--rev { direction: (ltr|rtl); }
  .#{$jigsass-media-flexbox-fallback} .o-media--rev > * { direction: (rtl|ltr); }

  // When flexbox is disabled
  .o-media--rev { direction: (ltr|rtl); }
  .o-media--rev > * { direction: (rtl|ltr); }
  ```
  */

      //stylelint-enable
    }
  }
}
